<app-header></app-header>
<div>
  <div>
    <div class="bg-white">
      <div
        class="mx-auto max-w-7xl py-12 px-4 sm:px-6 md:py-16 lg:px-8 lg:py-20"
      >
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          <span class="block">Welcome To Zippy</span>
        </h2>

        <h4 class="text-2xl block text-indigo-600 tracking-tight">
          <p>
            Zippy is an opinionated starter template that uses: Angular +
            TypeScript and Tailwind CSS.
          </p>
          <p>The starter currently has these following sample pages:</p>
          <ul class="list-disc">
            <li>A dashboard 'Home' with Header and Footer.</li>
            <li>
              A 'Sign In' page that is not hooked up to auth (when you click
              sign in, it checks a hard-coded username & password), on
              successful authentication it will redirect you to home page.
            </li>
            <li>
              An 'About' page that describes the current features of this
              template.
            </li>

            <li>This project is created using:</li>
            <ul class="list-disc">
              <li>Angular CLI: 15.0.3</li>
              <li>Node: 18.12.1</li>
              <li>Package Manager: npm 9.2.0</li>
              <li>OS: win32 x64</li>
            </ul>
            <li>
              Here is the link to GitHub
              <a href="https://github.com/imnikhilkumar78/Zippy#zippy"
                >README</a
              >
              to get started with this
            </li>
          </ul>
        </h4>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
